/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background-color: white;
  font-size: 62.5%;
}
.container header {
  display: flex;
  justify-content: center;
  background-color: slategrey;
  height: 250px;
}
.container header div.heading {
  background-color: whitesmoke;
  margin: 10px 115px 0px 50px;
  width: 600px;
  height: 90%;
}
.container header div.heading h1 {
  border: 2px solid black;
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  width: 550px;
  height: 70%;
  margin-left: 4%;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6rem;
}
.container header div.heading h1 span.subHeading {
  margin: 15px 0px 15px 90px;
  display: table;
  text-align: center;
  font-size: 3rem;
}
.container section.navbar {
  background-color: palegoldenrod;
  height: 70px;
}
.container section.navbar nav {
  display: flex;
  justify-content: space-evenly;
}
.container section.navbar nav a {
  padding: 10px;
  margin-top: 0.6%;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.container a:hover {
  color: tomato;
  background-color: slategray;
  border-radius: 120%;
}
.container div.image {
  margin: 0% 40%;
  width: 10%;
  display: flex;
  justify-content: center;
}
.container div.image img {
  border-radius: 45px;
  width: 200px;
  height: 100%;
  margin: -55% 0% 0% 55%;
}
@media (max-width: 500px) {
  .container div.image img {
    border: 2px solid black;
    border-radius: 45px;
    width: 200px;
    height: 100%;
    margin: 350% 0% 0% 55%;
  }
}
.container section.intro {
  width: 30%;
  height: 100%;
  margin: 1% 1% 1% 3%;
}
@media (max-width: 1610px) {
  .container section.intro {
    margin: 2% 1% 1% 3%;
  }
}
@media (max-width: 500px) {
  .container section.intro {
    padding: 20px;
    margin: 1% 0% -35% 0%;
    width: 100%;
    height: 100%;
  }
}
.container section.intro h3 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 3%;
}
.container p.content {
  font-size: 2rem;
  color: grey;
  text-align: center;
}
.container section.contact {
  display: flex;
  justify-content: center;
  margin: -19% 0% 0% 65%;
  width: 12%;
}
@media (max-width: 1610px) {
  .container section.contact {
    margin: -27% 0% 0% 70%;
  }
}
@media (max-width: 500px) {
  .container section.contact {
    margin: -27% 0% 0% 70%;
  }
}
.container section.contact ol.contactinfo {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
.container section.contact ol.contactinfo li {
  padding: 25px;
}
.container section.workHistorySkills {
  width: 30%;
  height: 100%;
  margin: -13% 1% 1% 3%;
}
@media (max-width: 1610px) {
  .container section.workHistorySkills {
    margin: -15% 1% 1% 3%;
  }
}
@media (max-width: 500px) {
  .container section.workHistorySkills {
    margin: -27% 0% 0% 70%;
  }
}
.container section.workHistorySkills h3 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 2%;
}
.container .workHistorySkills p {
  font-size: 2rem;
  color: grey;
  text-align: center;
}
.container p.footer {
  font-size: 2rem;
  color: grey;
  text-align: center;
  margin: 5% 6% 1% 1%;
}
